# Virtual Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Temporary Uploads
data/session_uploads/

# OS / Editor Files
.DS_Store
.idea/
.vscode/

# Streamlit
.streamlit/

# Testing/Coverage
.pytest_cache/
htmlcov/
.coverage